/* COLLERS */

$white:#fff;
$black:#061738;
$red:#f00;
$text-color:#606060;
$light-pink:#FFF8F8;
$light-sky:#EDF3FB;

/* FONT SIZE */
$body-text:16px;

/*---CONTAINER WIDTH---*/
$boxed-width:1170px;